<div class="form-row" [formGroup]="generalForm" >
  <div class="col-md-4 mb-3">
    <label for="validationCustom01">First name</label>
    <input type="text" class="form-control" id="validationCustom01" 
    placeholder="First name" formControlName="name" (blur)="onTouched()" >
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <label for="validationCustom02">Last name</label>
    <input type="text" class="form-control"
    formControlName="lastName"
    (blur)="onTouched()"
     id="validationCustom02" placeholder="Last name"
      >
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <label for="validationCustomUsername">Username</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
      </div>
      <input 
      formControlName="userName"
      (blur)="onTouched()"
      type="text" class="form-control" id="validationCustomUsername" placeholder="Username"
       aria-describedby="inputGroupPrepend" >
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>
</div>